name: MazeGeneration CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: MazeGeneration
        run: |
          pip install -r requirements.txt

      - name: Run basic test
        working-directory: MazeGeneration/ModifiedTetris
        run: |
          python -m unittest tests/test_simple_cicd.py -v
